<div class="notification \{{#if readStatus}}notification-read\{{else}}notification-unread\{{/if}}\{{#if hasLink}} notification-linked\{{/if}}" data-notification-id="\{{id}}" data-notification-status="\{{status}}">
  <div class="subtitle">\{{TD orderAt calendar="null"}}</div>
  \{{#if data.title}}<h2 class="title">\{{data.title}}</h2>\{{/if}}
  \{{#if data.message}}<div class="description">
    <p>\{{data.message}}</p>
  </div>\{{/if}}
  \{{#unless readStatus}}<div class="notification-badge"></div>\{{/unless}}
</div>