<div class="notification \{{#if readStatus}}notification-read\{{else}}notification-unread\{{/if}}" data-notification-id="\{{id}}">
  <div class="subtitle">\{{moment createdAt calendar="null"}}</div>
  \{{#if data.title}}<h2 class="title">\{{data.title}}</h2>\{{/if}}
  \{{#if data.message}}<div class="description">
    <p>\{{data.message}}</p>
  </div>\{{/if}}
  \{{#unless readStatus}}<div class="notification-badge"></div>\{{/unless}}
</div>